*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
#picturesSlide{
	width: 520px;
	height: 280px;
	margin: 150px auto 0;	
	position: relative;
}
#pic{
	width: 520px;
	height: 280px;
	overflow: hidden;/*必须写在滚动内容的直接父元素否则无法滚动？*/

}
#pic ul{
	width: 1560px;
	height: 280px;
}
#pic ul li{
	float: left;
	cursor: pointer;
}
#btn ul{
	position: absolute;
	height: 13px;
	width: 39px;
	bottom: 5px;
	background-color: #fff;
	border-radius: 6px;
	margin-left: 50%;
	left: -20px;
}
#btn ul li{
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: black;
	float: left;
	margin: 2px 2px;
	cursor: pointer;
}
#btn p{
	width: 30px;
	height: 40px;
	opacity: 0.2;
	color: #fff;
	background-color: #000;
	text-align: center;
	line-height: 40px;
	position: absolute;
	cursor: pointer;
	display: none;
}
#btn p:hover{
	opacity: 0.6;
}
#left{
	left: 0;
	top: 120px;
}
#right{
	right: 0;
	top: 120px;
}